@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.form-control:focus {
    box-shadow: none;
    border-color: #416AE6
}

.profile-button {
    background: #27408A;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #416AE6
}

.profile-button:focus {
    background: #416AE6;
    box-shadow: none
}

.profile-button:active {
    background: #416AE6;
    box-shadow: none
}

.back:hover {
    color: #416AE6;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.font-weight-bold{
    font-size: 34px;
    font-family: "Dancing Script", cursive;
}
